
 *{ 
    margin: 0;
    padding: 0;
    
 }

@import url(url)(./../../Downloads/cyberspace-raceway-cufonfonts));

body{
    font-family: cyberspace-raceway-cufonfonts, sans-serif;
}



.grid{
    display: grid;
    grid-template-columns: 20% 80%;
    border:  chartreuse;
    
}

.sidebar{
    background-color: oklch(0.216 0.006 56.043);
    height: 100vh;
    color: chartreuse;
  
    
}

.list-items{
    margin-left: 20px;
}

.main{
    background-color: oklch(0.274 0.006 286.033);
    height: 100vh;
    display: grid;
    grid-template-rows: 20% 80%;
    
}

.header{
    background-color: oklch(0.274 0.006 286.033);
    display: flex;
    flex-direction: column;
    border: 0.5px solid chartreuse;
    
}

.navabar,.left{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 20px;
}
.bell{
    margin-left:20px;
}

.form-input{
    width: 450px;
    background-color: grey;
    border-radius: 16px;
    border: 1px solid chartreuse;
    margin-left: 20px;
    margin-right: 60px;
}

.welcome{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px 20px;
}

.welcome,p{
    font-size: 10px;
    color: chartreuse;
}

.right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 28%;
}

.btn{
    font-size: 10px;
    background-color: chartreuse;
    width: 50px;
    height: 30px;
    color: oklch(0.274 0.006 286.033);
    border: 1px solid darkslategrey;
    border-radius: 20px;
}

h6{
    color: chartreuse;
    font-size: 15px;
    
}
    



.content{
    background-color: oklch(0.274 0.006 286.033);
    display: grid;
    grid-template-columns: 70% 30%;

}

.logo-text{
    color: chartreuse;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 50px;
    margin-right: 20px;
}

.icon-text{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 40px;   
}

.icon-text p{
    margin-left: 10px;
    font-size: 10px;
}

.files{
    display: grid;
    grid-template-columns: 50% 50%;
}

.file{
    background-color: rgb(92, 87, 87);
    border-left: 2px solid chartreuse;
    border-radius: 10px;
    width: 80%;
    height: 105px;
    margin: 25px 0;
    margin-left: 25px;
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10px;

}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
}

h4{
    font-size: 20px;
    color: chartreuse;
    margin-left: 20px;
    margin-top: 20px;

}

.file p{
    font-size: 10px;
}

.ann-trend{
    display: grid;
    grid-template-rows: 50% 50%;
}

.ann-file, .trend-file{
    height: 75%;
    width: 80%;
    background-color:  rgb(92, 87, 87);
    border-radius: 8px;
    border: 0.5px solid chartreuse;

}

.a-text{
    padding: 4px 9px;
}

.a-text h6{
    font-size: 15px;
}

.a-text p{
    font-size: 10px;
}

.divider{
    border: 0.5px solid chartreuse;
    
}

.trend-text h6{
    font-size: 16px;

}
.trend-text{
    margin: 10px;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
}


