
 *{ 
    margin: 0;
    padding: 0;
    
 }

@import url(url)(./../../Downloads/cyberspace-raceway-cufonfonts));

body{
    font-family: cyberspace-raceway-cufonfonts, sans-serif;
}



.grid{
    display: grid;
    grid-template-columns: 21% 79%;
    border:  chartreuse;
    
}

.sidebar{
    background-color: oklch(0.216 0.006 56.043);
    height: 100vh;
    color: chartreuse;
  
    
}

.main{
    background-color: oklch(0.274 0.006 286.033);
    height: 100vh;
    display: grid;
    grid-template-rows: 20% 80%;
    
}

.header{
    background-color: oklch(0.274 0.006 286.033);
    display: flex;
    flex-direction: column;
    border: 0.5px solid chartreuse;
    
}

.navabar,.left{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2px 19px;
}
.bell{
    margin-left:20px;
}

.form-input{
    width: 450px;
    background-color: grey;
    border-radius: 16px;
    border: 1px solid chartreuse;
    margin-left: 20px;
    margin-right: 60px;
}

.welcome{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px 20px;
}

.welcome,p{
    font-size: 10px;
    color: chartreuse;
}

.right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 28%;
}

.btn{
    font-size: 8px;
    background-color: chartreuse;
    width: 45px;
    height: 20px;
    color: oklch(0.274 0.006 286.033);
    border: 1px solid darkslategrey;
    border-radius: 15px;
}

h6{
    color: chartreuse;
    
}
    



.content{
    background-color: oklch(0.274 0.006 286.033);
    display: grid;
    grid-template-columns: 70% 30%;

}

.logo-text{
    color: chartreuse;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 18px 30px;
}

.icon-text{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 40px;   
}

.icon-text p{
    margin-left: 10px;
    font-size: 10px;
}






